 <div class="panel panel-success"><!--　bootstrapのパネル使用  -->
	<div class="panel-heading">
		ユーザ情報一覧
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>名前</th>
				<th>メールアドレス</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<th><%= user.name%></th>
				<td><%= user.email%></td>
			    <td><%= link_to "編集" , edit_user_path(user) %></td>
			    <td><%= link_to "削除" , user , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div> 

 <%= form_for(User.new) do |f| %>

  <button type="button" class="btn btn-success" aria-label="Left Align"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>名前</button>
  <%= f.text_field :name %><!--　bootstrapのアイコン使用  -->

  <button type="button" class="btn btn-success" aria-label="Left Align"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>メールアドレス</button>
  <%= f.text_field :email %><!--　bootstrapのアイコン使用  -->
  <%= f.submit class: "btn btn-sm btn-primary" %><!-- bootstrapのラベル使用 -->
 <% end %>